.custom-input {
  box-sizing: border-box;
  display: inline-block;
  height: 35px;
  min-width: 210px;
  border: 1px solid darken(#ccc, 15);
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: inherit;
  padding-left: 10px;
  background: transparent;

  &:focus {
    border: 1px solid #00838F;
  }

  &.disable {
    border: none;
  }
}